body{
    display: flex;
    align-items:center;
    justify-content: center;
}

.estructura{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

.contenedor{
    width: 66%;
    height: 100%;
    display:grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.lista{
    width: 33%;
    height: 100%;
    display: grid;
    margin: 10px;
    background-color: grey;

}

.cuadro{
    width: 200px;
    height: 300px;
    line-height: 100%;
    text-align: center;
    align-items: center;
    background-color: olivedrab;
    color: lightsalmon;
    margin: 10px;
    transition: 0.3s;
    border-radius: 10px;
}

.imagen{
    width: 50%;
    height: 50%;
}